In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

np.random.seed(42)
pd.options.display.max_columns = 100

In [13]:
df = pd.read_csv("train.csv")
df.head(3)

,Item_ID,Item_W,Item_Type,Item_MRP,Outlet_ID,Outlet_Year,Outlet_Size,Outlet_Location_Type,Sales
0,FDU32,21.027499,Baking Goods,197.352319,OUT046,2004,Small,Tier 2,2689.457781
1,NCT54,21.102371,Meat,148.250214,OUT035,1987,Small,Tier 1,3437.350375
2,FDW08,20.882263,Hard Drinks,205.465010,OUT035,1999,Small,Tier 3,3129.967268

In [14]:
df.shape

(87864, 9)

In [24]:
dummy_regr = DummyRegressor(strategy="mean")
dummy_regr.fit(raw_test.drop('Sales',axis=1), raw_test['Sales'])

DummyRegressor()

array([1918.46438763, 1918.46438763, 1918.46438763, ..., 1918.46438763,
       1918.46438763, 1918.46438763])

In [17]:
raw_train,raw_test = train_test_split(df,test_size=0.20, random_state=42)

In [34]:
# baseline model
for strategy in ["mean", "median"]:
    baseline_model = DummyRegressor(strategy=strategy)
    baseline_model.fit(raw_train, raw_train['Sales'])
    baseline_predict = baseline_model.predict(raw_test)
    baseline_rmse = mean_squared_error(raw_test['Sales'], baseline_predict, squared=False)
    print(f"{strategy} - RMSE - {baseline_rmse}")

mean - RMSE - 1295.4402155200703
median - RMSE - 1333.5618104255848

In [18]:
raw_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70291 entries, 28033 to 15795
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_ID               70291 non-null  object
 1   Item_W                70291 non-null  float64
 2   Item_Type             70291 non-null  object
 3   Item_MRP              70291 non-null  float64
 4   Outlet_ID             70291 non-null  object
 5   Outlet_Year           70291 non-null  int64
 6   Outlet_Size           70291 non-null  object
 7   Outlet_Location_Type  70291 non-null  object
 8   Sales                 70291 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 5.4+ MB

In [5]:
raw_train.describe()

             Item_W      Item_MRP  Outlet_Year         Sales
count  87864.000000  87864.000000  87864.00000  87864.000000
mean      15.591469    151.242943   1999.87063   1911.842120
std        4.364429     59.536366      6.63429   1291.386004
min        7.992700     32.910015   1987.00000  -1229.360345
25%       10.968658    112.423337   1997.00000    959.249675
50%       15.831170    145.581473   1999.00000   1606.307877
75%       19.969936    197.110367   2004.00000   2608.057736
max       21.250000    265.214271   2009.00000  10309.283310

In [19]:
raw_train.describe(include=np.object)

       Item_ID     Item_Type Outlet_ID Outlet_Size Outlet_Location_Type
count    70291         70291     70291       70291                70291
unique     894            16         5           3                    3
top      FDE11  Baking Goods    OUT035       Small               Tier 1
freq       329         11731     19334       38863                26916