## Configure PySpark Setup

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"


import findspark
findspark.init()


import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("App").getOrCreate()
spark

In [2]:
# check number of cores PySpark is using
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
print("You are working with", cores, "core(s)")

You are working with 1 core(s)

## Load Datasets

In [3]:
!cp /content/drive/MyDrive/Datasets.zip .
!unzip Datasets.zip

Archive:  Datasets.zip
  inflating: Datasets/.DS_Store
  inflating: Datasets/fifa19.csv
  inflating: Datasets/googleplaystore.csv
  inflating: Datasets/nyc_air_bnb.csv
  inflating: Datasets/people.json
  inflating: Datasets/pga_tour_historical.csv
  inflating: Datasets/rec-crime-pfa.csv
  inflating: Datasets/Rep_vs_Dem_tweets.csv
  inflating: Datasets/students.csv
  inflating: Datasets/supermarket_sales.csv
  inflating: Datasets/users1.parquet
  inflating: Datasets/users2.parquet
  inflating: Datasets/users3.parquet
   creating: Datasets/uw-madison-courses/
  inflating: Datasets/uw-madison-courses/course_offerings.csv
  inflating: Datasets/uw-madison-courses/courses.csv
  inflating: Datasets/uw-madison-courses/database.sqlite3
  inflating: Datasets/uw-madison-courses/grade_distributions.csv
  inflating: Datasets/uw-madison-courses/instructors.csv
  inflating: Datasets/uw-madison-courses/rooms.csv
  inflating: Datasets/uw-madison-courses/schedules.csv
  inflating: Datasets/uw-madison-courses/sections.csv
  inflating: Datasets/uw-madison-courses/subject_memberships.csv
  inflating: Datasets/uw-madison-courses/subjects.csv
  inflating: Datasets/uw-madison-courses/teachings.csv
 extracting: Datasets/Weather.csv.zip
  inflating: Datasets/youtubevideos.csv
  inflating: Datasets/zomato.csv

# Load Libraries

In [26]:
from pyspark.sql.functions  import *
from  pyspark.sql.types  import *

## Reading Data into PySpark

In [7]:
path='Datasets/'
data = spark.read.csv(path+'nyc_air_bnb.csv',inferSchema=True,header=True)

In [8]:
data.limit(3).toPandas()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365

[3 rows x 16 columns]

In [9]:
print(data.printSchema())

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: string (nullable = true)
 |-- number_of_reviews: string (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: string (nullable = true)
 |-- calculated_host_listings_count: string (nullable = true)
 |-- availability_365: integer (nullable = true)

None

In [27]:
# count missing data for each column
data.select([count(when(isnan(c) | data[c].isNull(), c)).alias(c) for c in data.columns]).show()

+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| id|name|host_id|host_name|neighbourhood_group|neighbourhood|latitude|longitude|room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  0|  32|    185|      206|                185|          185|     185|      185|      185|  185|           185|              205|      10234|            10215|                           187|             342|
+---+----+-------+---------+-------------------+-------------+--------+---------+---------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+

In [28]:
# change data type

df = data.withColumn("price", data["price"].cast(IntegerType())) \
        .withColumn("minimum_nights", data["minimum_nights"].cast(IntegerType())) \
        .withColumn("number_of_reviews", data["number_of_reviews"].cast(IntegerType())) \
        .withColumn("reviews_per_month", data["reviews_per_month"].cast(IntegerType())) \
        .withColumn("calculated_host_listings_count", data["calculated_host_listings_count"].cast(IntegerType()))

print(df.printSchema())
df.limit(5).toPandas()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- host_id: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- neighbourhood_group: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- last_review: string (nullable = true)
 |-- reviews_per_month: integer (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- availability_365: integer (nullable = true)

None

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [32]:
# groupby and count 
df.groupBy("neighbourhood_group").count().show(5)

+-------------------+-----+
|neighbourhood_group|count|
+-------------------+-----+
|         Douglaston|    1|
|             Queens| 5630|
|              Nadia|    1|
|            Midtown|    4|
|    Jackson Heights|    2|
+-------------------+-----+
only showing top 5 rows

In [34]:
# groupby and count and sorting
df.groupBy("neighbourhood_group").count().orderBy('count').show(5)

+-------------------+-----+
|neighbourhood_group|count|
+-------------------+-----+
|        Little Neck|    1|
|       Clinton Hill|    1|
|          Briarwood|    1|
|              Nadia|    1|
|         Douglaston|    1|
+-------------------+-----+
only showing top 5 rows

In [35]:
# groupby and count and sorting
df.groupBy("neighbourhood_group").count().orderBy(col('count').desc()).show(5)

+-------------------+-----+
|neighbourhood_group|count|
+-------------------+-----+
|          Manhattan|21594|
|           Brooklyn|20055|
|             Queens| 5630|
|              Bronx| 1080|
|      Staten Island|  370|
+-------------------+-----+
only showing top 5 rows

In [39]:
# groupby and aggregation
df.groupBy("neighbourhood").mean('price').show(5)

+-------------+----------+
|neighbourhood|avg(price)|
+-------------+----------+
|       Corona| 59.171875|
| Richmondtown|      78.0|
| Prince's Bay|     409.5|
|  Westerleigh|      71.5|
|   Mill Basin|    179.75|
+-------------+----------+
only showing top 5 rows

In [38]:
df.groupBy("neighbourhood").agg({'price':'mean'}).show(5)

+-------------+----------+
|neighbourhood|avg(price)|
+-------------+----------+
|       Corona| 59.171875|
| Richmondtown|      78.0|
| Prince's Bay|     409.5|
|  Westerleigh|      71.5|
|   Mill Basin|    179.75|
+-------------+----------+
only showing top 5 rows

In [40]:
# using pyspark sql functions in aggregate
df.groupBy("neighbourhood").agg(min(df['price']).alias("Min Price"),max(df['price']).alias("Max Price")).show(5)

+-------------+---------+---------+
|neighbourhood|Min Price|Max Price|
+-------------+---------+---------+
|       Corona|       23|      359|
| Richmondtown|       78|       78|
| Prince's Bay|       85|     1250|
|  Westerleigh|       40|      103|
|   Mill Basin|       85|      299|
+-------------+---------+---------+
only showing top 5 rows

In [42]:
df.groupBy("neighbourhood").agg(min(df['price']).alias("Min Price"),max(df['price']).alias("Max Price")).orderBy(col('Max Price').desc()).show(5)

+---------------+---------+---------+
|  neighbourhood|Min Price|Max Price|
+---------------+---------+---------+
|        Astoria|       25|    10000|
|Upper West Side|       10|    10000|
|     Greenpoint|        0|    10000|
|Lower East Side|       29|     9999|
|    East Harlem|       30|     9999|
+---------------+---------+---------+
only showing top 5 rows

In [43]:
summary = df.summary("count", "min", "25%", "75%", "max")
summary.toPandas()

  summary                   id  ... calculated_host_listings_count availability_365
0   count                49079  ...                          48891            48737
1     min   12 mins Manhattan"  ...                              0                0
2     25%            9470677.0  ...                              1                0
3     75%          2.9150743E7  ...                              2              226
4     max           獨一無二的紐約閣樓"  ...                            365              365

[5 rows x 17 columns]

In [44]:
limit_summary = df.select("price","minimum_nights","number_of_reviews").summary("count","min","max")
limit_summary.toPandas()

  summary  price minimum_nights number_of_reviews
0   count  48887          48891             48738
1     min    -74              0                 0
2     max  10000           1250               629

In [47]:
# just aggregations
df.agg(min(df.price).alias("Min Price"),max(df.price).alias("Max Price")).show()

+---------+---------+
|Min Price|Max Price|
+---------+---------+
|      -74|    10000|
+---------+---------+

In [48]:
df.select(countDistinct("neighbourhood_group").alias('CountD'),avg('price'),stddev("price")).show()

+------+------------------+------------------+
|CountD|        avg(price)|stddev_samp(price)|
+------+------------------+------------------+
|    77|152.22298361527604| 238.5414668883948|
+------+------------------+------------------+

In [49]:
df.agg({'number_of_reviews':'max'}).withColumnRenamed("max(number_of_reviews)", "Max Reviews").show()

+-----------+
|Max Reviews|
+-----------+
|        629|
+-----------+

In [50]:
# pyspark pivot
df.groupBy("room_type").pivot("neighbourhood_group").count().limit(5).toPandas()

  room_type  null 194716858  ... Williamsburg Woodhaven Woodside
0        51  None      None  ...         None      None     None
1       205  None      None  ...         None      None     None
2        54  None      None  ...         None      None     None
3       200  None      None  ...         None      None     None
4       279  None      None  ...         None      None     None

[5 rows x 79 columns]

In [51]:
# pyspark pivot
df.groupBy("room_type").pivot("neighbourhood_group").count().na.fill(0).limit(5).toPandas()

  room_type  null  194716858  ...  Williamsburg  Woodhaven  Woodside
0        51     0          0  ...             0          0         0
1       205     0          0  ...             0          0         0
2        54     0          0  ...             0          0         0
3       200     0          0  ...             0          0         0
4       279     0          0  ...             0          0         0

[5 rows x 79 columns]

In [52]:
df.groupBy("room_type").pivot("neighbourhood_group", ["Queens", "Brooklyn"]).count().show(10)

+-----------+------+--------+
|  room_type|Queens|Brooklyn|
+-----------+------+--------+
|         51|  null|    null|
|        205|  null|    null|
|         54|  null|    null|
|        200|  null|    null|
|        279|  null|    null|
|        138|  null|    null|
|         69|  null|    null|
|         42|  null|    null|
|Shared room|   198|     413|
|  -73.95777|  null|    null|
+-----------+------+--------+
only showing top 10 rows

In [53]:
df.filter("room_type='Shared room'").groupBy("room_type").pivot("neighbourhood_group", ["Queens", "Brooklyn"]).count().show(100)

+-----------+------+--------+
|  room_type|Queens|Brooklyn|
+-----------+------+--------+
|Shared room|   198|     413|
+-----------+------+--------+

In [54]:
df.groupBy("neighbourhood").pivot("neighbourhood_group", ["Queens", "Brooklyn"]).agg(min(df['price']).alias("Min Price"),max(df['price']).alias("Max Price")).toPandas()

           neighbourhood  ...  Brooklyn_Max Price
0                 Corona  ...                 NaN
1           Prince's Bay  ...                 NaN
2           Richmondtown  ...                 NaN
3             Mill Basin  ...               299.0
4            Westerleigh  ...                 NaN
..                   ...  ...                 ...
378             40.69383  ...                 NaN
379  Morningside Heights  ...                 NaN
380           Greenpoint  ...             10000.0
381             Elmhurst  ...                 NaN
382         Little Italy  ...                 NaN

[383 rows x 5 columns]