## Configure PySpark Setup

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"


import findspark
findspark.init()


import pyspark 
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("App").getOrCreate()
spark

In [2]:
# check number of cores PySpark is using
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
print("You are working with", cores, "core(s)")

You are working with 1 core(s)

In [6]:
!cp /content/drive/MyDrive/Datasets.zip .
!unzip Datasets.zip

Archive:  Datasets.zip
  inflating: Datasets/.DS_Store
  inflating: Datasets/fifa19.csv
  inflating: Datasets/googleplaystore.csv
  inflating: Datasets/nyc_air_bnb.csv
  inflating: Datasets/people.json
  inflating: Datasets/pga_tour_historical.csv
  inflating: Datasets/rec-crime-pfa.csv
  inflating: Datasets/Rep_vs_Dem_tweets.csv
  inflating: Datasets/students.csv
  inflating: Datasets/supermarket_sales.csv
  inflating: Datasets/users1.parquet
  inflating: Datasets/users2.parquet
  inflating: Datasets/users3.parquet
   creating: Datasets/uw-madison-courses/
  inflating: Datasets/uw-madison-courses/course_offerings.csv
  inflating: Datasets/uw-madison-courses/courses.csv
  inflating: Datasets/uw-madison-courses/database.sqlite3
  inflating: Datasets/uw-madison-courses/grade_distributions.csv
  inflating: Datasets/uw-madison-courses/instructors.csv
  inflating: Datasets/uw-madison-courses/rooms.csv
  inflating: Datasets/uw-madison-courses/schedules.csv
  inflating: Datasets/uw-madison-courses/sections.csv
  inflating: Datasets/uw-madison-courses/subject_memberships.csv
  inflating: Datasets/uw-madison-courses/subjects.csv
  inflating: Datasets/uw-madison-courses/teachings.csv
 extracting: Datasets/Weather.csv.zip
  inflating: Datasets/youtubevideos.csv
  inflating: Datasets/zomato.csv

# Load Libraries

In [7]:
from pyspark.sql.functions  import *
from  pyspark.sql.types  import *
import os

## Reading Data into PySpark

In [8]:
zomato = spark.read.csv('Datasets/zomato.csv',inferSchema=True,header=True)
print(zomato.printSchema())

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- votes: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- rest_type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost(for two people): string (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- listed_in(type): string (nullable = true)
 |-- listed_in(city): string (nullable = true)

None

In [9]:
df = zomato.withColumn("approx_cost(for two people)", zomato["approx_cost(for two people)"].cast(IntegerType())) \
        .withColumn("votes", zomato["votes"].cast(IntegerType()))
#
print(df.printSchema())

root
 |-- url: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)
 |-- online_order: string (nullable = true)
 |-- book_table: string (nullable = true)
 |-- rate: string (nullable = true)
 |-- votes: integer (nullable = true)
 |-- phone: string (nullable = true)
 |-- location: string (nullable = true)
 |-- rest_type: string (nullable = true)
 |-- dish_liked: string (nullable = true)
 |-- cuisines: string (nullable = true)
 |-- approx_cost(for two people): integer (nullable = true)
 |-- reviews_list: string (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- listed_in(type): string (nullable = true)
 |-- listed_in(city): string (nullable = true)

None

In [10]:
df.limit(4).toPandas()

                                                 url  ...                                    listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...                                               None
1                                    +91 9743772233"  ...   'RATED\n  The place is nice and comfortable. ...
2  https://www.zomato.com/bangalore/spice-elephan...  ...   'RATED\n  This place just cool ? with good am...
3  https://www.zomato.com/SanchurroBangalore?cont...  ...   pasta churros and lasagne.\n\nNachos were pat...

[4 rows x 17 columns]

In [11]:
df.filter(df['cuisines'].isNull()).select(['name','cuisines']).show(5)

+---------------+--------+
|           name|cuisines|
+---------------+--------+
|          Jalsa|    null|
|  Grand Village|    null|
|  Casual Dining|    null|
|Timepass Dinner|    null|
|  Casual Dining|    null|
+---------------+--------+
only showing top 5 rows

In [12]:
# compute missing value statistics
def null_value_calc(df):
    null_columns_counts = []
    numRows = df.count()
    for k in df.columns:
        nullRows = df.where(col(k).isNull()).count()
        if(nullRows > 0):
            temp = k,nullRows,(nullRows/numRows)*100
            null_columns_counts.append(temp)
    return(null_columns_counts)

null_columns_calc_list = null_value_calc(df)
spark.createDataFrame(null_columns_calc_list, ['Column_Name', 'Null_Values_Count','Null_Value_Percent']).toPandas()

                    Column_Name  Null_Values_Count  Null_Value_Percent
0                          name                 85            0.118500
1                  online_order               8111           11.307682
2                    book_table                  2            0.002788
3                          rate               7775           10.839258
4                         votes              20018           27.907431
5                         phone               1227            1.710581
6                      location              20054           27.957619
7                     rest_type              20165           28.112366
8                    dish_liked              46841           65.301826
9                      cuisines              27305           38.066360
10  approx_cost(for two people)              43611           60.798829
11                 reviews_list              28185           39.293183
12                    menu_item              28611           39.887077
13              listed_in(type)              28983           40.405688
14              listed_in(city)              29344           40.908964

In [13]:
# compute missing value statistics

#first row: null count
nulls = df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns])

# Second row: null percent
percent = df.select([format_number(((count(when(isnan(c) | col(c).isNull(), c))/df.count())*100),1).alias(c) for c in df.columns])

result = nulls.union(percent)

result.toPandas()

   url address name  ... menu_item listed_in(type) listed_in(city)
0    0       0   85  ...     28611           28983           29344
1  0.0     0.0  0.1  ...      39.9            40.4            40.9

[2 rows x 17 columns]

In [14]:
# drop missing data
df.na.drop().limit(4).toPandas()

                                                 url  ...                                    listed_in(city)
0  https://www.zomato.com/bangalore/spice-elephan...  ...   'RATED\n  This place just cool ? with good am...
1  https://www.zomato.com/SanchurroBangalore?cont...  ...   pasta churros and lasagne.\n\nNachos were pat...
2  https://www.zomato.com/bangalore/addhuri-udupi...  ...                                       ('Rated 4.0'
3  https://www.zomato.com/bangalore/cafe-shuffle-...  ...   ""RATED\n  While this place is more common fo...

[4 rows x 17 columns]

In [15]:
# count no of rows that would be dropped using drop method without any additional parameter
og_len = df.count()
drop_len = df.na.drop().count()
print("Total Rows Dropped:",og_len-drop_len)
print("Percentage of Rows Dropped", (og_len-drop_len)/og_len)

Total Rows Dropped: 63124
Percentage of Rows Dropped 0.8800223058692318

In [17]:
# Drop rows that have at least 8 NON-null values
og_len = df.count()
drop_len = df.na.drop(thresh=8).count()
print("Total Rows Dropped:",og_len-drop_len)
print("Percentage of Rows Dropped", (og_len-drop_len)/og_len)

Total Rows Dropped: 1694
Percentage of Rows Dropped 0.023616339049212325

In [18]:
# Only drop the rows whose values in the votes column are null
og_len = df.count()
drop_len = df.na.drop(subset=["votes"]).count() 
print("Total Rows Dropped:",og_len-drop_len)
print("Percentage of Rows Dropped", (og_len-drop_len)/og_len)

Total Rows Dropped: 20018
Percentage of Rows Dropped 0.2790743064268786

In [19]:
# filter non null values
og_len = df.count()
drop_len = df.filter(df['rate'].isNotNull()).count() 
print("Total Rows Dropped:",og_len-drop_len)
print("Percentage of Rows Dropped", (og_len-drop_len)/og_len)

Total Rows Dropped: 7775
Percentage of Rows Dropped 0.10839258329848041

In [20]:
# Drop a row only if ALL its values are null.
og_len = df.count()
drop_len = df.na.drop(how='all').count() 
print("Total Rows Dropped:",og_len-drop_len)
print("Percentage of Rows Dropped", (og_len-drop_len)/og_len)

Total Rows Dropped: 0
Percentage of Rows Dropped 0.0

In [21]:
# filling missing value
# Fill all nulls values with one common value (character value)
df.na.fill('MISSING').limit(4).toPandas()

                                                 url  ...                                    listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...                                            MISSING
1                                    +91 9743772233"  ...   'RATED\n  The place is nice and comfortable. ...
2  https://www.zomato.com/bangalore/spice-elephan...  ...   'RATED\n  This place just cool ? with good am...
3  https://www.zomato.com/SanchurroBangalore?cont...  ...   pasta churros and lasagne.\n\nNachos were pat...

[4 rows x 17 columns]

In [22]:
# Fill all nulls values with one common value (numeric value)
df.na.fill(999).limit(10).toPandas()

                                                 url  ...                                    listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...                                               None
1                                    +91 9743772233"  ...   'RATED\n  The place is nice and comfortable. ...
2  https://www.zomato.com/bangalore/spice-elephan...  ...   'RATED\n  This place just cool ? with good am...
3  https://www.zomato.com/SanchurroBangalore?cont...  ...   pasta churros and lasagne.\n\nNachos were pat...
4  https://www.zomato.com/bangalore/addhuri-udupi...  ...                                       ('Rated 4.0'
5  https://www.zomato.com/bangalore/grand-village...  ...                                               None
6                                    +91 9901210005"  ...                                               None
7  https://www.zomato.com/bangalore/timepass-dinn...  ...                                               None
8                                    +91 9980063005"  ...                                               None
9  https://www.zomato.com/bangalore/rosewood-inte...  ...                                               None

[10 rows x 17 columns]

In [23]:
# fill only one column
df.filter(df['name'].isNull()).na.fill('No Name',subset=['name']).limit(5).toPandas()

               url  ...                                    listed_in(city)
0  +91 9986692090"  ...                                               None
1    00 805074123"  ...                                               None
2  +91 8971051846"  ...                                               None
3    080 39457777"  ...   ""RATED\n  poor test & quality... will never ...
4  +91 8971051846"  ...                                               None

[5 rows x 17 columns]

In [34]:
# fill missing value with mean value
def fill_with_mean(df, include=set()): 
    stats = df.agg(*(avg(c).alias(c) for c in df.columns if c in include))
    return df.na.fill(stats.first().asDict())

updated_df = fill_with_mean(df, ["votes"])
updated_df.limit(5).toPandas()

                                                 url  ...                                    listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...                                               None
1                                    +91 9743772233"  ...   'RATED\n  The place is nice and comfortable. ...
2  https://www.zomato.com/bangalore/spice-elephan...  ...   'RATED\n  This place just cool ? with good am...
3  https://www.zomato.com/SanchurroBangalore?cont...  ...   pasta churros and lasagne.\n\nNachos were pat...
4  https://www.zomato.com/bangalore/addhuri-udupi...  ...                                       ('Rated 4.0'

[5 rows x 17 columns]

In [37]:
# dummy dataset

values = [('Pear',10),('Orange',36),('Banana',123),('Kiwi',None),('Peach',16),('Strawberry',1)]
df = spark.createDataFrame(values,['fruit','quantity'])

df.show()

+----------+--------+
|     fruit|quantity|
+----------+--------+
|      Pear|      10|
|    Orange|      36|
|    Banana|     123|
|      Kiwi|    null|
|     Peach|      16|
|Strawberry|       1|
+----------+--------+

In [38]:
# conditional missing value fill

# When A is not null and A <5 then B = 0
# When A is not null and A >= 5 then B=1


df.withColumn('B',(when(df['quantity'].isNull(), 999).when(df['quantity'] < 5, 0).when(df['quantity'] >= 5, 1).otherwise(-2))).show()
# df.withColumn('B',(when(df.quantity < 5, 0).when(df.quantity >= 5, 1).otherwise(999))).show()type(stats)

+----------+--------+---+
|     fruit|quantity|  B|
+----------+--------+---+
|      Pear|      10|  1|
|    Orange|      36|  1|
|    Banana|     123|  1|
|      Kiwi|    null|999|
|     Peach|      16|  1|
|Strawberry|       1|  0|
+----------+--------+---+

In [47]:
# dummy dataset

values = [('Pear',10),('Orange',36),('Banana',None),('Kiwi',None),('Peach',16),('Strawberry',1)]
df = spark.createDataFrame(values,['fruit','quantity'])

df.show()

+----------+--------+
|     fruit|quantity|
+----------+--------+
|      Pear|      10|
|    Orange|      36|
|    Banana|    null|
|      Kiwi|    null|
|     Peach|      16|
|Strawberry|       1|
+----------+--------+

In [50]:
df.withColumn('B',(when((df['quantity'].isNull()) & (df['fruit'] == 'Kiwi'),-999).when(df['quantity'].isNull(),999).otherwise(df['quantity']))).show()

+----------+--------+----+
|     fruit|quantity|   B|
+----------+--------+----+
|      Pear|      10|  10|
|    Orange|      36|  36|
|    Banana|    null| 999|
|      Kiwi|    null|-999|
|     Peach|      16|  16|
|Strawberry|       1|   1|
+----------+--------+----+